<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <LastUpdateCheck>199</LastUpdateCheck>
    <Volume>130</Volume>
    <RecentFiles>
        <string>D:\Black.Widow.2021.2160p.DSNP.WEB-DL.DDP5.1.Atmos.HDR.HEVC-CM.mkv</string>
        <string>D:\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\3. Communicating with Props\17. Showing Custom Children.mp4</string>
        <string>D:\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\3. Communicating with Props\16. Implementing an Approval Card.mp4</string>
        <string>D:\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\3. Communicating with Props\15. Component Reuse.mp4</string>
        <string>D:\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\3. Communicating with Props\14. Passing Props - Solutions.mp4</string>
        <string>D:\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\3. Communicating with Props\13. Passing Multiple Props.mp4</string>
        <string>D:\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\3. Communicating with Props\12. Passing and Receiving Props.mp4</string>
        <string>https://white-waterfall.yashptel.workers.dev/0:/Friends%20(1994)%20Season%201-10%20S01-S10%20(1080p%20BluRay%20x265%20HEVC%2010bit%20AAC%205.1%20Silence)/Season%209/Friends%20(1994)%20-%20S09E17%20-%20The%20One%20With%20The%20Memorial%20Service%20(1080p%20BluRay%20x265%20Silence).mkv</string>
        <string>https://white-waterfall.yashptel.workers.dev/0:/Friends%20(1994)%20Season%201-10%20S01-S10%20(1080p%20BluRay%20x265%20HEVC%2010bit%20AAC%205.1%20Silence)/Season%209/Friends%20(1994)%20-%20S09E16%20-%20The%20One%20With%20The%20Boob%20Job%20(1080p%20BluRay%20x265%20Silence).mkv</string>
        <string>https://white-waterfall.yashptel.workers.dev/0:/Friends%20(1994)%20Season%201-10%20S01-S10%20(1080p%20BluRay%20x265%20HEVC%2010bit%20AAC%205.1%20Silence)/Season%209/Friends%20(1994)%20-%20S09E15%20-%20The%20One%20With%20The%20Mugging%20(1080p%20BluRay%20x265%20Silence).mkv</string>
        <string>D:\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\[GigaCourse.Com] Udemy - Modern React with Redux [2020 Update]\3. Communicating with Props\11. React's Props System.mp4</string>
        <string>https://white-waterfall.yashptel.workers.dev/0:/Friends%20(1994)%20Season%201-10%20S01-S10%20(1080p%20BluRay%20x265%20HEVC%2010bit%20AAC%205.1%20Silence)/Season%209/Friends%20(1994)%20-%20S09E11%20-%20The%20One%20Where%20Rachel%20Goes%20Back%20To%20Work%20(1080p%20BluRay%20x265%20Silence).mkv</string>
        <string>https://white-waterfall.yashptel.workers.dev/0:/Rick.and.Morty.S05E04.Rickdependence.Spray.1080p.AMZN.WEBRip.DDP5.1.x264-NOGRP%5Brartv%5D/Rick.and.Morty.S05E04.Rickdependence.Spray.1080p.AMZN.WEB-DL.DDP5.1.H.264-NOGRP.mkv</string>
        <string>https://white-waterfall.yashptel.workers.dev/0:/Friends%20(1994)%20Season%201-10%20S01-S10%20(1080p%20BluRay%20x265%20HEVC%2010bit%20AAC%205.1%20Silence)/Season%209/Friends%20(1994)%20-%20S09E06%20-%20The%20One%20With%20The%20Male%20Nanny%20(1080p%20BluRay%20x265%20Silence).mkv</string>
        <string>https://white-waterfall.yashptel.workers.dev/0:/Friends%20(1994)%20Season%201-10%20S01-S10%20(1080p%20BluRay%20x265%20HEVC%2010bit%20AAC%205.1%20Silence)/Season%209/Friends%20(1994)%20-%20S09E05%20-%20The%20One%20With%20Phoebe's%20Birthday%20Dinner%20(1080p%20BluRay%20x265%20Silence).mkv</string>
    </RecentFiles>
    <WindowLocation>
        <X>0</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>1128</X>
        <Y>752</Y>
    </WindowPosition>
    <WindowSize>
        <Width>1603</Width>
        <Height>902</Height>
    </WindowSize>
    <ConfigEditorSearch>Subtitle:</ConfigEditorSearch>
    <Mute>no</Mute>
    <UpdateCheckVersion />
</AppSettings>